// Global Styles //
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #1F2937;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
h2 {
    font-size: 36px;
    font-weight: 900;
}
h3 {
    font-size: 28px;
    color: #F9FAF8;
    font-weight: 900;
}
h4 {
    font-size: 21px;
    font-weight: 300;
}
h5 {
    font-size: 18px;
    color: #F9FAF8;
}
h6 {
    font-size: 16px;
    font-weight: 900;
}

.off-white {color: #F9FAF8;}
.grey {color: #E5E7EB;}
.dark-blue {color: #1F2937;}
.electric-blue{color: #3882F6;}
// End Global Styles //